@{
	ViewData["Title"] = "Home Page";
}


<section class="home-layout">


	<header class="page-title-container">
		<h1 class="page-title">
			Hi, my name is <br />
			<strong>Marcus Pezzaioli</strong>.
		</h1>
	</header>


	<div class="blurb-container">
		<p class="blurb">
			I build things with C#, VB.Net and Go.
		</p>
	</div>



	<div class="button-container">
		<a class="btn btn-jade" asp-area="" asp-controller="AboutMe" asp-action="Index">Find Out More</a>
	</div>



@*	<div class="hero-img">
		<img class="feature-img" src="https://live.staticflickr.com/65535/53274526951_81ec332668_b.jpg" alt="An AI generated monitor with jade green and white code on a black background." class="img-fluid">
	</div>*@
</section>



