/*General*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.jade-green-line {
    margin: auto;
    height: 2px;
    background-color: #00A86B; /* Jade green color */
    max-width: 80%;
}

.btn-jade {
    background-color: #00A86B; /* Jade green color */
    border-color: #00A86B;
    color: #ffffff; /* White text */
}

    .btn-jade:hover, .btn-jade:focus, .btn-jade:active {
        background-color: #008755; /* A slightly darker shade for hover/active states */
        border-color: #008755;
        text-decoration: none;
    }

.jade-green-line {
    margin: auto;
    height: 2px;
    background-color: #00A86B; /* Jade green color */
    max-width: 80%;
    
}

a {
    color: #00A676;
    text-decoration: none; /* Removes the underline */
}

    a:hover {
        color: #00885A; /* A slightly darker shade of jade green */
        text-decoration: underline; /*Adding underline on hover for better UX */
    }



/*Home Page*/

/*Mobile portrait - 360 X 640. Grid of 6 columns and 16 rows*/
.home-layout {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 100vh;
}

.page-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    background-image: linear-gradient(to right, #008755 0%, #008755 100%);
    color: white;
}


.line-placer {
    display: none;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}

.blurb-container {
    grid-column: 2 / 6;
    grid-row: 5 / 12;
}


.button-container {
    display: inline-flex;
    justify-content: center;
    grid-column: 3 / 5;
    grid-row: 13 / 14;
}

.feature-img {
    display: none;
}


@media (orientation: landscape) {
    /*Mobile landscape - 640 X 360. Grid of 16 columns and 12 rows*/
    .home-layout {
        grid-template-columns: repeat(16,1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .page-title-container {
        grid-column: 2 / 8;
        grid-row: 4 / 6;
        font-size: 20px;
        align-items: center;
        background: white;
    }
    .page-title {
        align-content: center;
        align-items: center;
        font-size: 20px;
        color: black;
    }
    
    .button-container {
        grid-column: 3 / 7;
        grid-row: 7 / 8;
    }

    .line-placer {
        display: none;
    }

    .blurb-container {
        grid-column: 9 / -1;
        grid-row: 1 / -1;
        background-image: linear-gradient(to right, #008755 0%, #008755 100%);
        display: flex;
        align-items: center;
        color: white;
    }

    .blurb {
        margin: 0px 3vw 0px 3vw;
    }
}

/*To do - replace with Grid*/
/*
@media (min-width: 800px) {

    .home-layout {
        max-width: 100%;
        margin: auto;
    }

    .jade-green-line{
        display: none;
    }

    .page-title {
        margin: 35px 0px 35px 0px;
        text-align: left;
        font-size: 70px;
    }

    .contact-me {
        max-width: 37vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        margin: 0vh 0 0vh 28vw;
        float: left;
    }

    .blurb {
        margin: 0px 0px 70px 0px;
    }

    .hero-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        max-width: 28vw;
        height: 100vh;
    }

    .feature-img {
        display: inline;
        max-width: 65% ;
        max-height: 40%;
    }
}
    */
    
/*About me*/
/*TO DO - SEE IF CAN IMPROVE*/
.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
